@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.shop-head {
    font-family: 'Satisfy', cursive;
    text-align: center;
    background-color: aqua;
    margin-top: 0%;
}

.caption {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}
